pkgbase = sss-git
	pkgdesc = Screen sharing suite.
	pkgver = null.rnull.g0e7feba995b83f51f966eae0b4c646f7e7b0fe2c
	pkgrel = 1
	url = https://github.com/themartiancompany/sss
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = libcrash-bash
	depends = screen
	provides = sss=null.rnull.g0e7feba995b83f51f966eae0b4c646f7e7b0fe2c
	conflicts = sss
	source = sss.tar.gz::https://github.com/themartiancompany/sss/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = sss-git
